body
{
color:#5a5a5a;
background-color:#40BFC1;
font-family; cursive;
font-size:25px
}

h1
{
color:;
text-align: center;

font-size:

}
.first-part
{
  background-color:  white;
}
.second-part
{
  background-color: red;
}
.my-name
{
  background-color: green;
}
 .sports
  {
    background-color: blue;



 }
